name: bigbookofr_bot
on:
  #schedule:
  #  - cron: '* */3 * * *'
  push:
    branches:
      - main
jobs:
  bigbookofr_bot-post:
    runs-on: windows-latest
    
    steps:
      - uses: actions/checkout@main
      - uses: r-lib/actions/setup-r@v2
      - name: Install googlesheets4 package
        run: Rscript -e 'install.packages("googlesheets4", dependencies = TRUE)'
      - name: Install rtweet package
        run: Rscript -e 'install.packages("rtweet", dependencies = TRUE)'
      - name: Install dplyr package
        run: Rscript -e 'install.packages("dplyr", dependencies = TRUE)'
      - name: Install tidyr package
        run: Rscript -e 'install.packages("tidyr", dependencies = TRUE)'
      - name: Install stringr package
        run: Rscript -e 'install.packages("stringr", dependencies = TRUE)'  
      - name: Create and post tweet
        run: Rscript tweet_bot.R
        env:
          RBOT_TWITTER_CONSUMER_API_KEY: ${{ secrets.RBOT_TWITTER_CONSUMER_API_KEY }}
          RBOT_TWITTER_CONSUMER_API_SECRET: ${{ secrets.RBOT_TWITTER_CONSUMER_API_SECRET }}
          RBOT_TWITTER_ACCESS_TOKEN: ${{ secrets.RBOT_TWITTER_ACCESS_TOKEN }}
          RBOT_TWITTER_ACCESS_TOKEN_SECRET: ${{ secrets.RBOT_TWITTER_ACCESS_TOKEN_SECRET }}