name: bigbookofr_bot
on:
  schedule:
    - cron: '0 */3 * * *'
  # push:
  #  branches:
  #    - main
jobs:
  bigbookofr_bot-post:
    # runs-on: macOS-latest
    runs-on: ubuntu-latest
    container: rocker/tidyverse:4.4
    
    steps:
      - uses: actions/checkout@main
      - uses: r-lib/actions/setup-r@v2
      - name: Install googlesheets4 package
        run: Rscript -e 'install.packages("googlesheets4", dependencies = TRUE)'
      - name: Install bskyr package
        run: Rscript -e 'install.packages("bskyr", dependencies = TRUE)'
      - name: Install dplyr package
        run: Rscript -e 'install.packages("dplyr", dependencies = TRUE)'
      - name: Install tidyr package
        run: Rscript -e 'install.packages("tidyr", dependencies = TRUE)'
      - name: Install stringr package
        run: Rscript -e 'install.packages("stringr", dependencies = TRUE)'  
      - name: Create and post tweet
        run: Rscript tweet_bot.R
        env:
          BLUESKY_APP_USER: ${{ secrets.BLUESKY_APP_USER }}
          BLUESKY_APP_PASS: ${{ secrets.BLUESKY_APP_PASS }}
          